{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Projects </h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Title</th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Total Tasks</th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Total Time</th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Actions</th>

                  </tr>
                </thead>
                <tbody>
                  {% if projects %}
                  {% for project in projects  %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0">{{project.1}}</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center ">
                      <p class="font-weight-bold mb-0">{{project.2|default_if_none:"0"}}</p>
                    </td>
                    <td class="align-middle text-center ">
                      <h6 class="mb-0 ">{{project.3|default_if_none:"0"}}</h6>
                    </td>

                    <td class="align-middle text-center">
                      <a href="javascript:;" class="btn btn-secondary btn-sm text-xs" >
                        Edit
                      </a>
                      <a href="javascript:;" class="btn btn-danger btn-sm text-xs" >
                        Delete
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="4" class="align-middle">
                      <h6 class="text-primary mb-0  text-center p-3">No data to show !</h6>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

{% endblock content %}


