{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
 
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">To-Do List</h6>
              </div>
              <div class="col-6 text-end">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      
                      <a class="btn btn-outline-primary  mb-0 p-2" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="material-icons opacity-10">expand_more</i>
                        Add Task
                    </a>
                    </h2>
                  </div> 
                </div>
              </div>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
              <form id="addtask" method="POST" action="{% url 'add_task' %}">
              <div class="row mt-2">
                <div class="col-md-10">
                  <div class="input-group input-group-outline">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <input type="text" class="form-control " id="title" name="title" required>
                  </div>
                </div>
                <div class="col-md-2" style="margin:auto;">
                  <a id="tasksubmit" href="javascript:{}"><i class="material-icons opacity-10" style="font-size:35px;">arrow_circle_right</i></a>
                </div>
              </div>
              </div>
            </form>
            </div>
          <div class="card-body p-3 pb-0">
            <ul class="list-group">
                  {% if todos %}
                    {% for todo in todos  %}
                      <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                          <div class="d-flex flex-column">
                            <h6 class="mb-1 text-dark font-weight-bold text-sm">{{todo.title}}</h6>
                            <span class="text-xs">{{todo.created_at|date:'Y-m-d'}}</span>
                          </div>
                          <div class="d-flex align-items-center text-sm">
                            <h4 class="text-dark text-sm mb-0 px-0 ms-4">{{request.user.name|default_if_none:""}} </h4>
                          </div>
                          <div class="d-flex align-items-center text-sm">
                            <a href="{% url 'delete_task' project.id todo.id %}"><i class="material-icons opacity-10">delete</i> </a>
                          </div>
                          <div class="d-flex align-items-center text-sm">
                            <a href="#"><i class="material-icons opacity-10">play_circle</i> </a>
                          </div>
                      </li>
                    {% endfor %}
                  {% else %}
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 font-weight-bold text-sm text-primary">Nobody is working right now ....</h6>
                      </div>
                    </li> 
                  {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <h6 class="mb-0">Working on Right Now</h6>
              </div>

            </div>
          </div>
          <div class="card-body p-3 pb-0">
            <ul class="list-group">
                {% if ongoing %}
                    {% for on in ongoing  %}
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex flex-column">
                            <h6 class="mb-1 text-dark font-weight-bold text-sm">{{on.title}}</h6>
                            <span class="text-xs">{{on.created_at|date:'Y-m-d'}}</span>
                            </div>
                            <div class="d-flex align-items-center text-sm">
                            <h4 class="text-dark text-sm mb-0 px-0 ms-4">{{request.user.Name|default_if_none:""}} </h4>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1 font-weight-bold text-sm text-primary">Nobody is working right now ....</h6>
                    </div>
                </li> 
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <h6 class="mb-0">Finished</h6>
              </div>

            </div>
          </div>
          <div class="card-body p-3 pb-0">
            <ul class="list-group">
                {% if done %}
                    {% for do in done  %}
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex flex-column">
                            <h6 class="mb-1 text-dark font-weight-bold text-sm">{{do.title}}</h6>
                            <span class="text-xs">{{do.created_at|date:'Y-m-d'}}</span>
                            </div>
                            <div class="d-flex align-items-center text-sm">
                            <h4 class="text-dark text-sm mb-0 px-0 ms-4">{{request.user.Name|default_if_none:""}} </h4>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1 font-weight-bold text-sm text-primary">No todos finished, get back to work...</h6>
                    </div>
                </li> 
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block extra_scripts %}
  <script>
    $(document).ready(function(){
      $('#title').change(function(){
        if(!$(this).val() == '')
        {
          $('#tasksubmit').click(function(){
            $('#addtask').submit();
          });
        }
      });
    });
  </script>
{% endblock extra_scripts %}